#arena {
    width: 1280px;
    height: 200px;
    position: relative;
}

.character {
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    margin: 10px;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.character.leftDirection {
    transform: scaleX(-1);
}

.character .chat {
    display: inline-block;
    font-size: 24px;
    font-family: Arial;
    white-space: nowrap;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.character.leftDirection .chat {
    transform: scaleX(-1)
}

.character.deathKnight {
    background-image: url('assets/MiniDeathKnight.png');
}

.character.dreadKnight {
    background-image: url('assets/MiniDreadKnight.png');
}

.character.ghost {
    background-image: url('assets/MiniGhost.png');
}

.character.Lich {
    background-image: url('assets/MiniLich.png');
}

.character.necromancer {
    background-image: url('assets/MiniNecromancer.png');
}

.character.reaper {
    background-image: url('assets/MiniReaper.png');
}

.character.skeleton {
    background-image: url('assets/MiniSkeleton.png');
}

.character.skeletonArcher {
    background-image: url('assets/MiniSkeletonArcher.png');
}

.character.zombie {
    background-image: url('assets/MiniZombie.png');
}

.character.zombieButcher {
    background-image: url('assets/MiniZombieButcher.png');
}

.character.archerMan {
    background-image: url('assets/MiniArcherMan.png');
}

.character.cavalierMan {
    background-image: url('assets/MiniCavalierMan.png');
}

.character.crossbowMan {
    background-image: url('assets/MiniCrossBowMan.png');
}

.character.goblin {
    background-image: url('assets/MiniGoblin.png');
}

.character.goblinThief {
    background-image: url('assets/MiniGoblinThief.png');
}

.character.halberdMan {
    background-image: url('assets/MiniHalberdMan.png');
}

.character.horseMan {
    background-image: url('assets/MiniHorseMan.png');
}

.character.kingMan {
    background-image: url('assets/MiniKingMan.png');
}

.character.orc {
    background-image: url('assets/MiniOrc.png');
}

.character.orcAxeThrower {
    background-image: url('assets/MiniOrcAxeThrower.png');
}

.character.orcBerserker {
    background-image: url('assets/MiniOrcBerserker.png');
}

.character.orcVeteran {
    background-image: url('assets/MiniOrcVeteran.png');
}

.character.orcWarChief {
    background-image: url('assets/MiniOrcWarChief.png');
}

.character.orcWarrior {
    background-image: url('assets/MiniOrcWarrior.png');
}

.character.princeMan {
    background-image: url('assets/MiniPrinceMan.png');
}

.character.shieldMan {
    background-image: url('assets/MiniShieldMan.png');
}

.character.spearMan {
    background-image: url('assets/MiniSpearMan.png');
}

.character.swordMan {
    background-image: url('assets/MiniSwordMan.png');
}

.character.wargRider {
    background-image: url('assets/MiniWargRider.png');
}

.character.wolfRider {
    background-image: url('assets/MiniWolfRider.png');
}

.character.idle {
    animation-name: fourstepanimation;
    animation-duration: 0.4s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-position-y: 0;
}

.character.zombieButcher.idle, .character.zombie.idle {
    background-position-y: calc(128px * -1)
}

.character.walk {
    animation-name: sixstepanimation;
    animation-duration: 0.4s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-position-y: calc(128px * -1);
}

.character.zombieButcher.walk, .character.zombie.walk {
    background-position-y: calc(128px * -2)
}

.character.jump {
    animation: 1s step-end 0s 1 threestepanimation, 500ms cubic-bezier(0, 0, 0, 0.7) 0s 2 alternate jumpheight;
    background-position-y: calc(128px * -2);
    transition: left 1s linear;
}

.character.princeMan.jump, .character.kingMan.jump {
    animation: 1s step-end 0s 1 fivestepanimation, 500ms cubic-bezier(0, 0, 0, 0.7) 0s 2 alternate jumpheight;
}

.character.zombie.jump,
.character.zombieButcher.jump,
.character.archerMan.jump,
.character.crossbowMan.jump,
.character.halberdMan.jump,
.character.princeMan.jump,
.character.shieldMan.jump,
.character.spearMan.jump,
.character.swordMan.jump {
    background-position-y: calc(128px * -3);
}

.character.cavalierMan.jump,
.character.horseMan.jump,
.character.kingMan.jump {
    background-position-y: calc(128px * -4);
}

.character.zombie.jump {
    animation: 1s step-end 0s 1 sixstepanimation, 500ms cubic-bezier(0, 0, 0, 0.7) 0s 2 alternate jumpheight;
}

.character.orcBerserker.jump, .character.wolfRider.jump, .character.wargRider {
    animation: 1s step-end 0s 1 fourstepanimation, 500ms cubic-bezier(0, 0, 0, 0.7) 0s 2 alternate jumpheight;
}

.character.ghost.jump,
.character.Lich.jump,
.character.reaper.jump {
    animation-name: 0.4s step-end 0s infinite sixstepanimation, 500ms cubic-bezier(0, 0, 0, 0.7) 0s 2 alternate jumpheight;
    background-position-y: calc(128px * -1);
}

@keyframes jumpheight {
    0% { bottom: 0px; }
    100% { bottom: 70px; }
}

@keyframes threestepanimation {
    0% { background-position-x: 0; }
    50% { background-position-x: calc(128px * -1); }
    100% { background-position-x: calc(128px * -2); }
}

@keyframes fourstepanimation {
    0% { background-position-x: 0; }
    33% { background-position-x: calc(128px * -1); }
    66% { background-position-x: calc(128px * -2); }
    100% { background-position-x: calc(128px * -3); }
}

@keyframes fivestepanimation {
    0% { background-position-x: 0; }
    25% { background-position-x: calc(128px * -1); }
    50% { background-position-x: calc(128px * -2); }
    75% { background-position-x: calc(128px * -3); }
    100% { background-position-x: calc(128px * -4); }
}

@keyframes sixstepanimation {
    0% { background-position-x: 0; }
    20% { background-position-x: calc(128px * -1); }
    40% { background-position-x: calc(128px * -2); }
    60% { background-position-x: calc(128px * -3); }
    80% { background-position-x: calc(128px * -4); }
    100% { background-position-x: calc(128px * -5); }
}
