#arena {
    width: 1280px;
    height: 200px;
    position: relative;
}

.character {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    transform: scale(4);
    image-rendering: crisp-edges;
    margin: 10px;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.character.leftDirection {
    transform: scaleX(-4) scaleY(4);
}

.character .chat {
    display: inline-block;
    font-size: 6px;
    font-family: Arial;
    white-space: nowrap;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.character .name {
    display: inline-block;
    font-size: 6px;
    font-family: Arial;
    white-space: nowrap;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.character.leftDirection .chat, .character.leftDirection .name {
    transform: scaleX(-1)
}

.character.deathKnight {
    background-image: url('assets/MiniDeathKnight.png');
}

.character.dreadKnight {
    background-image: url('assets/MiniDreadKnight.png');
}

.character.ghost {
    background-image: url('assets/MiniGhost.png');
}

.character.Lich {
    background-image: url('assets/MiniLich.png');
}

.character.necromancer {
    background-image: url('assets/MiniNecromancer.png');
}

.character.reaper {
    background-image: url('assets/MiniReaper.png');
}

.character.skeleton {
    background-image: url('assets/MiniSkeleton.png');
}

.character.skeletonArcher {
    background-image: url('assets/MiniSkeletonArcher.png');
}

.character.zombie {
    background-image: url('assets/MiniZombie.png');
}

.character.zombieButcher {
    background-image: url('assets/MiniZombieButcher.png');
}

.character.idle {
    animation-name: fourstepanimation;
    animation-duration: 0.4s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-position-y: 0;
}

.character.zombieButcher.idle, .character.zombie.idle {
    background-position-y: calc(32px * -1)
}

.character.walk {
    animation-name: sixstepanimation;
    animation-duration: 0.4s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-position-y: calc(32px * -1);
}

.character.zombieButcher.walk, .character.zombie.walk {
    background-position-y: calc(32px * -2)
}

@keyframes fourstepanimation {
    0% { background-position-x: 0; }
    33% { background-position-x: calc(32px * -1); }
    66% { background-position-x: calc(32px * -2); }
    100% { background-position-x: calc(32px * -3); }
}

@keyframes sixstepanimation {
    0% { background-position-x: 0; }
    20% { background-position-x: calc(32px * -1); }
    40% { background-position-x: calc(32px * -2); }
    60% { background-position-x: calc(32px * -3); }
    80% { background-position-x: calc(32px * -4); }
    100% { background-position-x: calc(32px * -5); }
}
